[Unit]
Description=Consul maintenance task at shutdown
After=consul.service
After={{ consul_service_name }}.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/bin/consul maint -enable -reason="Shutting down instance"
ExecStopPost=/usr/bin/sleep {{ consul_service_maintenance_timeout }}
TimeoutStopSec={{ (consul_service_maintenance_timeout + 30)|int }}

[Install]
WantedBy=multi-user.target
